body {
	background-color: white;

}

h1 {
	font-family: 'Tienne', serif;
	font-weight: 900;
}

h2 {
	font-family: 'Tienne', serif;
	font-weight: 700;
}

p {
	font-family: 'Tienne', serif;
}

#content {
	margin: auto;
	width: 800px;
}

.poem {

	margin: auto;
}

@media (max-width: 600px) {

    #content {
        width: 100%;
        border: none;
    }
    h1 {
        text-align: center;
    }
 
	.gallery-photo {
		max-width: 100%;
	}
}

